*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: white;
}
.pizzabackground{
  background-image: url(pizzabackground.jpg);
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.title{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 67px;
  padding-left: 20%;
}
.title-p{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 30px;
  padding-left: 10%;
}
.main-nav{
  background-color: #333333;
  padding: 3px 0px 3px 0px;
  font-size: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  color: white;
  text-decoration: none;
}
.grid-container-main{
  display: grid;
  justify-content: space-around;
  grid-gap: 50px 0px;
  padding: 25px 25px 25px 25px;
  grid-template-areas:
  "order-info"
  "smedia-links";
}
#order-info{
  grid-area: order-info;
  padding: 0px 25px 0px 25px;
}
#smedia-links{
  grid-area: smedia-links;
  padding: 0px 25px 0px 25px;
}
.form-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 568px){
  .title{
    padding-left: 15px;
    flex-direction: row;
    justify-content: space-around;
  }
  .title-p{
    padding-left: 15%;
  }
  .main-nav{
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
  }
  .grid-container-main{
    grid-template-areas:
    "order-info smedia-links";
  }
}
@media (min-width: 900px){
  .title{
    padding-left: 40px;
    font-size: 80px;
  }
  .title-p{
    padding-left: 70px;
    font-size: 40px;
  }
}